body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ad1457;
    padding: 50px;
}
body * {
  color: #fafafa !important;
}
video {
  width: 100%;
  max-width: 800px;
}