/* -------------------------------------------------- */
/* workflow section */
/* -------------------------------------------------- */
.workflow_row {
  align-items: flex-start;
}
.workflow_figure {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}
.workflow_image {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px #00000020;
  margin-bottom: 5px;
}
.workflow_arrow {
  position: relative;
  top: 72px;
}

/* -------------------------------------------------- */
/* the best parts section */
/* -------------------------------------------------- */
.feature_tile {
  width: 360px;
  height: 270px;
}
@media (max-width: 720px) {
  .feature_tile {
    width: 280px;
    height: 210px;
  }
}

/* -------------------------------------------------- */
/* made with manubot section */
/* -------------------------------------------------- */
.catalog_tile {
  margin: 10px;
  width: 250px;
  height: 250px;
}
.catalog_tile_item {
}
.catalog_tile_image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.catalog_tile_caption {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px;
  background: #202020;
  color: #ffffff;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.catalog_tile:hover .catalog_tile_caption {
  opacity: 1;
}
.catalog_tile_caption *,
.catalog_tile_caption a {
  color: #ffffff;
}
