/* -------------------------------------------------- */
/* workflow section */
/* -------------------------------------------------- */
.workflow_row {
  align-items: flex-start;
}
.workflow_figure {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}
.workflow_image {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.workflow_arrow {
  position: relative;
  top: 72px;
}

/* -------------------------------------------------- */
/* made with manubot section */
/* -------------------------------------------------- */
.catalog_tile {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.catalog_tile img {
  width: 100%;
  height: 100%;
}