html,
body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #fafafa;
}
* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 0 50px 0;
  background: #8e64a2;
  background: #ad1457;
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.1);
}
header * {
  color: #ffffff;
}
section {
  padding: 20px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #ad1457;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1);
}
footer * {
  color: #ffffff;
}
footer i {
  margin: 5px;
}
.logo_container {
  box-sizing: border-box;
  width: 200px;
  height: 125px;
  position: relative;
}
.logo {
  width: 100%;
  position: absolute;
}
.logo_shadow {
  opacity: 0.15;
  filter: brightness(0%);
  top: 6.5px;
}
.logo_text {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0 3.5px rgba(0, 0, 0, 0.15);
}
.logo_subtext {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.15);
  text-shadow: 0 1.5px rgba(0, 0, 0, 0.15);
}
.cursor_blink {
  position: relative;
  font-weight: 700;
  top: -2px;
  right: 2px;
  animation: 1s blink infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}
.special_section {
  background: #f5f5f5;
}
.section_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section_header:before,
.section_header:after {
  content: '';
  width: 50px;
  height: 2px;
  margin: 0 10px;
  background: #424242;
  vertical-align: middle;
  opacity: 0.1;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
}
.row:not(:first-child) {
  margin-top: 20px;
}
.row:not(:last-child) {
  margin-bottom: 20px;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_wrap_reverse {
  flex-wrap: wrap-reverse;
}
.col_text {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
.col_text:not(:first-child) {
  padding-left: 20px;
}
.col_text:not(:last-child) {
  padding-right: 20px;
}
.col_image {
  width: 320px;
  height: 260px;
  background: rgba(0, 0, 0, 0.1);
}
.col_header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.col_header i {
  margin: 10px;
}
.button_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  color: #ad1457;
  font-weight: 600;
  border: solid 2px #ad1457;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.1s ease, color 0.1s ease;
}
.button_link:not(:first-child) {
  margin-right: 5px;
}
.button_link:not(:last-child) {
  margin-left: 5px;
}
.button_link * {
  color: #ad1457;
}
.button_link:hover {
  background: #ad1457;
  color: #fafafa;
}
.button_link:hover * {
  color: #fafafa;
}
.button_link i {
  margin-right: 10px;
}
@media (max-width: 720px) {
  .col_text {
    flex-basis: 100%;
    padding: 20px 0 0 0 !important;
  }
}
